﻿@model IEnumerable<BanksySan.Learning.ClrMD.Web.Models.RunSummary>
@{
    ViewData["Title"] = "Dave's Metrics";
}

<table class="table table-hover">
    <thead>
    <tr>
        <th>Run ID</th>
        <th>Time</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var run in Model)
    {
        <tr>
            <td style="margin: 10px 10px 2px; padding: 10px 10px 2px">
                <samp>@Html.ActionLink(run.RunId.ToString("B"), "Index", "Runs", new {Id = run.RunId})</samp>
            </td>
            <td>
                <samp>@run.DateTime.ToString("g")</samp>
            </td>
        </tr>
    }
    </tbody>
</table>