﻿@model BanksySan.Learning.ClrMD.Web.Models.RunInfo
@{
    ViewData["Title"] = "Run Detail";
}

<h2>@ViewData["Title"]</h2>

<p>@Model.DateTime</p>

<p>Probes:</p>
@foreach (var probe in Model.Probes.OrderBy(x => x.Time))
{
    <ol>
        <li>@probe.Time, @probe.Segments.Count()</li>
    </ol>
}